/* project agustino */
.right h2 {
    color: #ffffff; /* Cambia el color del título a rojo (#ff0000) o el color que prefieras */
}

.right p {
    color: #ffffff; /* Cambia el color del texto de la descripción a verde (#00ff00) o el color que prefieras */
}

/* project syrceffx */
.left h2 {
    color: #ffffff; /* Cambia el color del título a rojo (#ff0000) o el color que prefieras */
}

.left p {
    color: #ffffff; /* Cambia el color del texto de la descripción a verde (#00ff00) o el color que prefieras */
}

